---
import Root from '@/layouts/Root.astro';
import Nav from '@/components/Nav.astro';
import Hero from '@/components/Hero.astro';
import AppPreviewFrame from '@/components/AppPreviewFrame.tsx';
import HowItWorks from '@/components/how-it-works/HowItWorks.tsx';
---

<Root>
  <Nav />
  <main>
    <Hero />
    <AppPreviewFrame client:visible />
    <HowItWorks client:visible />
  </main>
</Root>
